{{/* A template for adding a swagger:model annotation on the struct. */}}
{{ define "model/comment/additional/swagger" }}
    // test test    
    {{/* {{ with $.Annotations.Entswag.Model }}{{ // swagger:model }} */}}
    {{/* {{ else }}.{{ end }} */}}
{{ end }}
